* , html{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: $VeryDarkBlue;
    box-sizing: inherit;
    margin: 0px;
    font-size: 14px;
    padding: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}